.home-page {
    background: linear-gradient();
}

.mat-form-field {
    margin-right: 5%;
}

.home-checkbox {
    display: block;
}

.home-card { 
    margin: 2%;
}

.tasks-card {
    min-height: 100px;
}

.task-card {
    margin-top: 5px;
    margin-bottom: 0px;
}

.complete-checkbox {
    margin-right: 5px;
}

.completed-task {
    text-decoration: line-through;
}